<!doctype html>
<html lang="en">

<head>
  <script>

  </script>
</head>

<body>
  <div id="cont" class="container">
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <form action="/">
             Name:
            <input type="text" name="name">
            <br>
            <input type="submit" value="Submit">
          </form>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>

</body>

</html>